.sb_m #fbuilder{color:inherit;}
.sb_m #fbuilder .ui-datepicker-header{background-color:transparent;padding:0px;margin:0px;color:inherit}
.sb_m #fbuilder .ui-datepicker-prev {border-top: 2px solid #000;border-right: 2px solid #000;width:18px !important;height:18px !important;margin:10px !important;background:none !important;}
.sb_m #fbuilder .ui-datepicker-next {border-top: 2px solid #000;border-right: 2px solid #000;width:18px !important;height:18px !important;margin:10px !important;background:none !important;}

.sb_m #fbuilder .ui-datepicker th{background-color:inherit;color:inherit}

.sb_m #fbuilder .ui-datepicker-unselectable .ui-state-default {color:inherit;background-color:inherit;}
				
.sb_m #fbuilder td:not(.ui-datepicker-unselectable) a.ui-state-default.ui-state-active{color:inherit;background-color:inherit;}					
.sb_m #fbuilder td:not(.ui-datepicker-unselectable) a.ui-state-default{color:inherit;background-color:inherit;}
.sb_m #fbuilder td:not(.ui-datepicker-unselectable) a.ui-state-default:hover{color:inherit;background-color:inherit;}
.sb_m #fbuilder .slots div a{color:inherit;background-color: #ededed;padding:4px;}
.sb_m #fbuilder .slots div a:hover{color:inherit;background-color: #f7f7f7;}
.sb_m #fbuilder .pbSubmit {background-color: #ccc;color: #000;margin: 10px 10px 0px 0px;padding: 5px 20px;}
.sb_m #fbuilder .pbSubmit:hover {background-color: #ccc;color: #000;}
.sb_m #fbuilder .fields input{border-color:inherit;border-width:1px;border-style:solid;background-color:inherit;padding:inherit;}
.ahbfield_service{display:inherit;}
.sb_m #fbuilder .slots{border-color:#888;border-width:1px;border-style:solid;width: 100%;padding: 10px;}
.sb_m #fbuilder .slots span{color: inherit;}
.sb_m #fbuilder .usedSlots .sb_item {padding: inherit;margin:inherit}
.sb_m #fbuilder .usedSlots .sb_item .sb_item_time{color: inherit;}
.sb_m #fbuilder .usedSlots .sb_item .cancel{font-weight:inherit}
.sb_m #fbuilder .totalCost{color: inherit;}
.sb_m #fbuilder .totalCost span:not(.n){color: inherit;}
.sb_m #fbuilder .totalCost span.n{color: inherit;}