#fbuilder .ui-datepicker-header{color:#e0e0e0;background-color: #000;}

#fbuilder .ui-datepicker th{background-color:inherit;color:inherit}

#fbuilder .ui-datepicker-unselectable .ui-state-default { color: #b4b3b3;background-color: #f4f4f4;}

#fbuilder td:not(.ui-datepicker-unselectable) a.ui-state-default.ui-state-active{color:#e0e0e0;background:#6eafbf;}					
#fbuilder td:not(.ui-datepicker-unselectable) a.ui-state-default{color:#666666;background:#dedede;}
#fbuilder td:not(.ui-datepicker-unselectable) a.ui-state-default:hover{color: inherit; background: #f7f7f7;}
#fbuilder .slots div a{background-color: #ededed;padding:4px;}
#fbuilder .slots div:not(.htmlUsed)  a:hover{background-color: #f7f7f7;}

#fbuilder .pbSubmit{color:#000;background:#ccc;margin: 10px 10px 0px 0px;padding: 5px 20px;}
#fbuilder .pbSubmit:hover {color: #000;background:#ccc;}
#fbuilder .fields  input{color:#000;padding:inherit;}
.ahbfield_service{display:inherit;}
#fbuilder .slots{border-color:#888;border-width:1px;border-style:solid;width: 100%;padding: 10px;}
#fbuilder .slots span{color: inherit;}
#fbuilder .usedSlots .sb_item {padding: inherit;margin:inherit}
#fbuilder .usedSlots .sb_item .sb_item_time{color: inherit;}
#fbuilder .usedSlots .sb_item .cancel{font-weight:inherit}
#fbuilder .totalCost{color: inherit;}
#fbuilder .totalCost span:not(.n){color: inherit;}
#fbuilder .totalCost span.n{color: inherit;}